// open-sans Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$open-sans-font-path: $font-path !default;

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 300;
  src: local("OpenSans-Light"), local("OpenSans-Light"), url("#{$OpenSans-font-path}/OpenSans-light.woff2") format("woff2"), url("#{$OpenSans-font-path}/OpenSans-Light.woff") format("woff"), url("#{$OpenSans-font-path}/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 400;
  src: local("OpenSans"), local("OpenSans-Regular"), url("#{$OpenSans-font-path}/OpenSans-Regular.woff2") format("woff2"), url("#{$OpenSans-font-path}/OpenSans-Regular.woff") format("woff"), url("#{$OpenSans-font-path}/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 500;
  src: local("OpenSans Medium"), local("OpenSans-Medium"), url("#{$OpenSans-font-path}/OpenSans-Bold.woff2") format("woff2"), url("#{$OpenSans-font-path}/OpenSans-Bold.woff") format("woff"), url("#{$OpenSans-font-path}/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "open-sans";
  font-style: normal;
  font-weight: 700;
  src: local("OpenSans Bold"), local("OpenSans-Bold"), url("#{$OpenSans-font-path}/OpenSans-ExtraBold.woff2") format("woff2"), url("#{$OpenSans-font-path}/OpenSans-ExtraBold.woff") format("woff"), url("#{$OpenSans-font-path}/OpenSans-ExtraBold.ttf") format("truetype");
}
