<ion-app>
  <ion-menu menuId="main-menu" content-Id="main">
    <ion-content>
      <ion-grid class="black_txt l15padding t5margin">
        <ion-row>
          <ion-col size="4" class="ion-align-self-center tborder bborder lborder rborder roundedbtn t20padding">
            <img src="../assets/Aalap_Logo.svg" class="t5padding" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="m_size t15padding b15padding">
            Algo Analytiq Learning and
            <div>Practice</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="s_size gray_txt b15padding">
            Organization Code : LTKQW
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Study Material
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Students Testimonial
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Free Tests
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Help a Friend
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Help And Support
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Archived Batches
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Feature Request
          </ion-col>
        </ion-row>
        <ion-row (click)="editpro()">
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Edit Profile
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size ion-align-self-center">
            SMS Recharge
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Payments
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Enquiry Management
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Coins
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            App Downloads
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Email to Classplus's CEO
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Share Posters
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Settings
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            How to use App
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            How to use App
          </ion-col>
        </ion-row>
        <ion-row class="bborder">
          <ion-col size="1" class="c_align ion-align-self-center">
            <ion-icon name="folder-open-outline"></ion-icon>
          </ion-col>
          <ion-col class="s_size">
            Recharge Live Class Credits
          </ion-col>
        </ion-row>
        <ion-row class="t5margin c_align">
          <ion-col class="xs_size t10padding">
            Your Pro renews on
            <div class="s_size t10margin ion-align-self-center">April 28, 2022</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>